In [2]:
import os
os.environ["CUDA_VISIBLE_DEVICES"]="-1"  
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers
#from tensorflow.python.client import device_lib
#print(device_lib.list_local_devices())
print(tf.test.is_built_with_cuda())

False

The functional API was designed to build NN models that are non-sequential, ex: Residual Networks and Siamese networks.
It gives more flexibility than the Sequential

Defining the input.

We must define a standalone input layer that specifies the shape of the input data.
The input layer takes a 'shape' argument which is a tuple.
Whenever data is one-dimensional The shape must explicitly leave room for the shape of the mini-batch size, that is why
it is always defined with a comma and no following element, ex: (784,)

In [4]:
df_train = pd.read_csv('../train.csv')
df_test = pd.read_csv('../test.csv')

In [5]:
def preprocess_data(df_train):
    df_train_rand = df_train.reindex(np.random.permutation(df_train.index))
    return df_train_rand

In [6]:
def preprocess_features(x_train):
    #Normalization to greyscale, reduces the effect of illumination's differences
    x_train_norm = x_train / 255.0
    #Reshaping for keras 28x28x1 3D matrices?
    x_train_norm = x_train_norm.values.reshape(-1, 28, 28, 1)
    return x_train_norm

In [7]:
def preprocess_targets(y_train):
    #Encode labels to one hot vecs
    y_train_hot = tf.keras.utils.to_categorical(y_train, num_classes=10)
    return y_train_hot

In [8]:
df_train_rand = preprocess_data(df_train)
X_train = preprocess_features(df_train_rand.drop(labels = ['label'], axis = 1).head(38000).copy())
X_val = preprocess_features(df_train_rand.drop(labels = ['label'], axis = 1).tail(6000).copy())
Y_train = preprocess_targets(df_train_rand['label'].head(38000).copy())
Y_val = preprocess_targets(df_train_rand['label'].tail(6000).copy())

In [9]:
visible = tf.keras.layers.Input(shape=(28,28,1))

Connecting layers
The layers are by specifying with parenthesis the layer to which it connects when assigning

In [10]:
conv1 = tf.keras.layers.Conv2D(32, kernel_size=(5,5), padding='Same', activation='relu')(visible)
conv2 = tf.keras.layers.Conv2D(32, kernel_size=(5,5), padding='Same', activation='relu')(conv1)
pool1 = tf.keras.layers.MaxPool2D(pool_size=(2,2), strides=(2,2))(conv2)
dropout1 = tf.keras.layers.Dropout(0.25)(pool1)
conv3 = tf.keras.layers.Conv2D(64, kernel_size=(3,3), padding='Same', activation='relu')(dropout1)
conv4 = tf.keras.layers.Conv2D(64, kernel_size=(3,3), padding='Same', activation='relu')(conv3)
pool2 = tf.keras.layers.MaxPool2D(pool_size=(2,2), strides=(2,2))(conv4)
dropout2 = tf.keras.layers.Dropout(0.25)(pool2)
flatten = tf.keras.layers.Flatten()(dropout2)
dense1 = tf.keras.layers.Dense(245, activation='relu')(flatten)
dropout3 = tf.keras.layers.Dropout(0.25)(dense1)
output_dense = tf.keras.layers.Dense(10, activation='softmax')(dropout3)

WARNING:tensorflow:From /home/josecyc/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/josecyc/anaconda3/lib/python3.6/site-packages/tensorflow/python/keras/layers/core.py:143: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

After creating all layers and connecting them we must define the model.
Keras provides a 'Model' classs that we can use to create a model from our layers.
Requires: Input and output layers

In [11]:
model = tf.keras.Model(inputs=visible, outputs=output_dense)

In [12]:
optimizer = tf.train.AdamOptimizer(learning_rate = 0.001,
                                   beta1 = 0.9,
                                   beta2 = 0.999,
                                   epsilon = 1e-08,
                                   use_locking = False,
                                  name = 'Adam')

In [13]:
# Compiling
model.compile(optimizer = optimizer, loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [14]:
tf.test.is_gpu_available()

False

In [ ]:
history = model.fit(X_train,
                   Y_train,
                   batch_size=80,
                   epochs=10,
                   validation_data=(X_val, Y_val),
                   verbose=2)

Train on 38000 samples, validate on 6000 samples
WARNING:tensorflow:From /home/josecyc/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/10

In [14]:
x_test = preprocess_features(df_test)
x_test.shape

(28000, 28, 28, 1)

In [15]:
predictions = model.predict(x_test)
predictions.shape

(28000, 10)

In [16]:
results = np.argmax(predictions, axis=1)
results_S = pd.Series(results, name='Label')
results_S

0        2
1        0
2        9
3        9
4        3
5        7
6        0
7        3
8        0
9        3
10       5
11       7
12       4
13       0
14       4
15       3
16       3
17       1
18       9
19       0
20       9
21       1
22       1
23       5
24       7
25       4
26       2
27       7
28       4
29       7
        ..
27970    5
27971    0
27972    4
27973    8
27974    0
27975    3
27976    6
27977    0
27978    1
27979    9
27980    3
27981    1
27982    1
27983    0
27984    4
27985    5
27986    2
27987    2
27988    9
27989    6
27990    7
27991    6
27992    7
27993    9
27994    7
27995    9
27996    7
27997    3
27998    9
27999    2
Name: Label, Length: 28000, dtype: int64

In [17]:
submission = pd.concat([pd.Series(range(1,28001),name = "ImageId"),results_S],axis = 1)
submission

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
5            6      7
6            7      0
7            8      3
8            9      0
9           10      3
10          11      5
11          12      7
12          13      4
13          14      0
14          15      4
15          16      3
16          17      3
17          18      1
18          19      9
19          20      0
20          21      9
21          22      1
22          23      1
23          24      5
24          25      7
25          26      4
26          27      2
27          28      7
28          29      4
29          30      7
...        ...    ...
27970    27971      5
27971    27972      0
27972    27973      4
27973    27974      8
27974    27975      0
27975    27976      3
27976    27977      6
27977    27978      0
27978    27979      1
27979    27980      9
27980    27981      3
27981    27982      1
27982    27983      1
27983    27984      0
27984    27985      4
27985    27986      5
27986    27987      2
27987    27988      2
27988    27989      9
27989    27990      6
27990    27991      7
27991    27992      6
27992    27993      7
27993    27994      9
27994    27995      7
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [1]:
submission.to_csv("predictions_cnn_keras_func_mnist.csv",index=False)

NameError: name 'submission' is not defined